* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --main-backg-color: #edf2fc;
  --second-backg-color: #212121;
}
.dark-mode {
  --main-backg-color: #212121;
  --second-backg-color: #edf2fc;
}
ul li  {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-backg-color);
  overflow: hidden;
  position: relative;

}
nav {
  width: 90%;
  margin: 10px auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .loge {
  width: 90px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav .loge  {
    width: 50px;
  }
}
nav .mob {
  font-size: 35px;
  display: none;
  cursor: pointer;
  color: var(--second-backg-color);
}
@media (max-width: 767px) {
  nav .mob {
    display: block;
  }
  
  
}
nav .list {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
nav .list li {
  display:inline-block;
  margin: 10px 15px;
  cursor: pointer;
}
@media (max-width: 767px) {
   .list {
    display: none;
    position: absolute;
    right: 64px;
    top: 30px;
    background: #d6d2d2;
    border-radius: 10px;
    z-index: 50;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  nav .list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--second-backg-color);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    color: var(--second-backg-color);
    cursor: pointer;
  }
  
  nav .list li:hover {
  border-bottom-color: #ff4321;
}

}
nav .list li a {
  text-decoration: none;
  color: var(--second-backg-color);
}
nav .list li i {
  font-size: 20px;
  color: var(--second-backg-color);
  cursor: pointer;
}
nav .list li a:hover {
  color: #ff4321;
}
.container .info {
  position: absolute;
  top: 40%;
  left: 5%;
}
@media (max-width: 767px) {
  .container .info {
    top: 20%;
}
.container .info p {
  margin-bottom: 20px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
  .info {
  position: absolute;
  top: 35%;
  }
}
.info h1 {
  color: var(--second-backg-color);
  font-size: 3.125rem;
  margin: 10px  ;
}
@media (min-width: 300px) and (max-width: 411px){
  .info h1 {
    font-size: 2rem;
  }
}
.info h1 span {
  color: #ff4321;
}
.info p {
  color: var(--second-backg-color);
  line-height: 1.7;
  margin-bottom: 10px;
  padding: 5px;
}
@media (min-width: 300px) and (max-width: 411px) {
  .info p {
    margin: 0 5px;
  }
}
.info .btn-box {
  width: 200px;
  margin: 5px -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
  
}
@media (min-width: 300px) and (max-width: 411px) {
  .info .btn-box {
    width: 100%;
    margin: 5px 5px;
    flex-direction: row;
    gap: 0 10px;
  }
}
.info #download {
  display: block;
  width: 150px;
  text-decoration: none;
  color: var(--main-backg-color);
  background: var(--second-backg-color);
  padding: 15px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-align: center;
}

@media (max-width: 767px) {
  .social-icon {
    left: 65%;
    top: 38%;
    z-index: 10;
}}
.social-icon ul{
  display: flex;
  align-items: center;
}
.social-icon ul li {
  margin-right: 15px;
}
.social-icon i {
  color: #0a66c2;
  font-size: 25px;
}
.social-icon ul li:nth-child(2) i {
  color:  #1877f2;
}
.social-icon ul li:nth-child(3) i {
  color:  #25d366;
}
.images {
  width: 45%;
  height: 75%;
  position: absolute;
  right: 50px;
  bottom: 0;
}
.images img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: bottom 1s, left 1s;
  -webkit-transition: bottom 1s, left 1s;
  -moz-transition: bottom 1s, left 1s;
  -ms-transition: bottom 1s, left 1s;
  -o-transition: bottom 1s, left 1s;
}
@media (max-width: 767px) {
  .images  {
    width: 50%;
    height: 70%;
    bottom: -15%;
  }
  .images img {
    height: 50%;
    bottom: 30%;
  }
  .images:hover img:nth-child(1) {
  bottom: 150px;
  }
  .images:hover :nth-child(2) {
    left: 55%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .images  {
    width: 30%;
    height: 70%
  }
  .images img {
    height: 80%;
  }
}
@media (min-width: 300px) and (max-width: 411px) {
  .images  {
    width: 30%;
    height: 70%;
    bottom: -100px;
  }
  .images img {
    height: 50%;
  }
  images:hover :nth-child(1) {
  bottom: -60px;
}
.images:hover :nth-child(2) {
  left: 60%;
}
}
.images:hover :nth-child(1) {
  bottom: 40px;
}
.images:hover :nth-child(2) {
  left: 55%;
}
.open {
  display: block;
}
